body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
button{
    text-align: center;
    border-radius: 10px;
    margin: auto;
    width: 100%;
    height: max-content;
    margin-top: 50px;
}
